@import "bootstrap-variables.less";
@import "imports/custom-checkboxes.less";

.at-form {
	max-width: 320px;
	margin: 0 auto;
}

.game-messageList-container {
	height: 10em;
	border: 1px solid @text-color;
	background: @input-group-addon-bg;
	overflow-x: hidden;
	overflow-y: scroll;
	border-top-left-radius: @border-radius-base;
	border-top-right-radius: @border-radius-base;
	border-bottom-width: 0;
}
.game-messageList {
	list-style: none;
	margin: 0;
	padding: 0.5em;
}
.game-messageListItem {

}
.game-messageListItem-author {
	color: @brand-success;

	&:before {
		content: "[";
	}
	&:after {
		content: "]";
	}
}
.game-messageCreate-container {

}
.game-messageCreate-input {
	border-color: @text-color;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	&:focus {
		box-shadow: none;
	}
}